/* css-responsive-settings 2022 @DiegoDuenez */

/* Reset básico y box-sizing */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Configuración global del HTML y Body */
html {
   scroll-behavior: smooth;
}

body {
   position: relative;
   overflow-x: hidden !important;
   width: 100%;
}

/* Evitar desplazamiento horizontal en secciones */
body > section {
   overflow: hidden !important;
}
