@import url('./root.css');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --text-size: 18px;
   --color-primary: #99D9D9;
   --color-secondary: #68A2B9;
   --color-bluegreen: #5BB0BC;
   --color-bg-blue: #59A9B5;
   --color-scroll: #68A2B9;
   --color-dark: #222;
   --color-light: #fff;
   --color-dark-transparent: rgba(0, 0, 0, 0.5);
   --color-light-transparent: rgba(255, 255, 255, 0.5);
   --font-family: 'Roboto', sans-serif;
   --porcent-change-color: 5%;
   font-family: var(--font-family);
   font-size: var(--text-size);
   line-height: 1.5rem;
   color: var(--color-dark);
}

@media screen and (min-width: 1440px) {
   :root { --porcent-change-color: 90%; }
}
@media screen and (max-width: 940px) {
   :root { --porcent-change-color: 95%; }
}
@media screen and (max-width: 620px) {
   :root { --porcent-change-color: 98%; }
}
@media screen and (max-width: 320px) {
   :root { --porcent-change-color: 98%; }
}

/* #region BACKGROUNDS */
.bg-dark {
   background-color: var(--color-dark);
   color: var(--color-primary);
}
.bg-light {
   background-color: var(--color-primary);
   color: var(--color-dark);
}
.bg-blue {
   background-color: var(--color-bg-blue);
   color: var(--color-dark);
}
.bg-brown {
   background-color: #6E6C4F;
   color: var(--color-light);
}
.bg-blue-brown {
   background: linear-gradient(0deg, rgba(110,108,79,1) 0%, rgba(110,108,79,1) var(--porcent-change-color), rgba(89,169,181,1) var(--porcent-change-color), rgba(89,169,181,1) 100%);
}
.bg-green { background-color: transparent; }

/* #region IMAGES */
.img-container, .img-container-15, .img-container-25, .img-container-35 {
   margin: 2.5rem;
   object-fit: cover;
   border-radius: 10px;
}
.img-container, .img-container-15, .img-container-25, .img-container-35 {
   width: 100%;
   height: auto;
}

.img-container-15 { height: 15rem; width: 15rem; }
.img-container-25 { height: 25rem; width: 25rem; }
.img-container-35 { height: 35rem; width: 35rem; }

.img-icon { width: 2.5rem; }
.img-sm { width: 5rem; }
.img-md { width: 15rem; }
.img-hero { width: 17rem; }
.img-lg { width: 20rem; }
.img-xl { width: 25rem; }
.img-xxl { width: 30rem; }
.img-100 { width: 100%; }
.img-75 { width: 75%; }
.border-circle { border-radius: 50%; overflow: hidden; }

.video-container {
   margin: 2.5rem;
   height: auto;
   width: 80%;
}
video {
   object-fit: cover;
   border-radius: 10px;
}

/* #region NAVBAR */
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   z-index: 100;
   transition: all 0.6s ease;
}
.navbar {
   display: flex;
   padding: 2% 5%;
}
.navbar-light, .navbar-dark {
   transition: background-color 0.3s ease;
}
.navbar-light {
   background-color: rgba(255, 255, 255, 0.3);
   color: var(--color-dark);
}
.navbar-dark {
   background-color: rgba(0, 0, 0, 0.3);
   color: var(--color-light);
}

.navbar ul {
   list-style: none;
   display: flex;
}
.navbar li {
   margin-right: 1rem;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar li:hover {
   cursor: pointer;
   border-bottom: 3px solid var(--color-dark);
}

/* #region SECTION */
section {
   padding: 5%;
   scroll-snap-type: y mandatory;
   scroll-snap-align: start;
}
.section {
   height: 100vh;
   padding: 5%;
}

hr.separator, hr.separator-sm {
   background-color: var(--color-light);
   border: none;
   position: relative;
   z-index: 1;
   transform: translateX(-50%);
   margin: 0 auto;
}
hr.separator {
   height: 8rem;
   width: 2px;
}
hr.separator-sm {
   height: 3rem;
   width: 2px;
}

.container-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   gap: 1rem;
   justify-items: center;
}
.container-grid-rows {
   display: grid;
   grid-template-rows: repeat(auto-fit, minmax(1fr));
   gap: 1rem;
}

.card {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 15rem;
   height: 15rem;
   background: #fff;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   border-radius: 10px;
   overflow: hidden;
   transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
   transform: scale(1.05);
}

.card--avatar { width: 100%; height: 10rem; object-fit: cover; }
.card--title { color: #222; font-weight: 700; font-size: 1.1rem; margin-top: 0.5rem; }
.card--link {
   text-decoration: none;
   background: #db4938;
   color: var(--color-light);
   padding: 0.3rem 1rem;
   border-radius: 20px;
   transition: background-color 0.5s ease;
}
.card--link:hover {
   background-color: #343A40;
}

/* #region FONTS */
.title, .subtitle {
   font-weight: bolder;
   text-transform: capitalize;
   margin-block: 1rem;
}

.title {
   font-size: 5vw;
   line-height: 5vw;
}

.subtitle {
   font-size: 3vw;
   line-height: 3vw;
}

@media screen and (max-width: 1024px) {
   :root { --font-size-title: 6vw; --font-size-subtitle: 4vw; }
}
@media screen and (max-width: 768px) {
   :root { --font-size-title: 7vw; --font-size-subtitle: 5vw; }
}
@media screen and (max-width: 376px) {
   :root { --font-size-title: 10vw; --font-size-subtitle: 6vw; }
}

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-400 { font-weight: 400; }
.fw-700 { font-weight: 700; }
.fw-900 { font-weight: 900; font-weight: bolder; }

/* #region TEXTS */
.text-dark { color: var(--color-dark); }
.text-light { color: var(--color-light); }
.text-hero { font-size: xx-large; }

.hero {
   font-family: 'Bebas Neue', cursive;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-weight: bolder;
}

.hero h1 { font-size: 30vw; }

/* #region PADDINGS & MARGINS */
.p-0 { padding: 0; }
.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }
.p-4 { padding: 4rem; }
.p-5 { padding: 5rem; }

.my-auto { margin: auto 0; }
.mx-auto { margin: 0 auto; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }

/* #region POSITIONS */
.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-fixed { position: fixed; }
.p-sticky { position: sticky; }

.sticky { position: sticky; top: 0; z-index: 10; }



/* #region DISPLAYS */
.d-flex { display: flex; flex-direction: column;}
.d-block { display: block;}
.d-none { display: none;}
/* #endregion DISPLAYS */

/* #region JUSTIFY & ALIGN */
.justify-content-center { justify-content: center; }
.justify-content-start { justify-content: start; }
.justify-content-end { justify-content: end; }

.justify-items-center { justify-items: center; }
.justify-items-start { justify-items: start; }
.justify-items-end { justify-items: end; }

.justify-self-center { justify-self: center; }
.justify-self-start { justify-self: start; }
.justify-self-end { justify-self: end; }

.align-content-center { align-content: center; }
.align-content-start { align-content: start; }
.align-content-end { align-content: end; }

.align-items-center { align-items: center; }
.align-items-start { align-items: start; }
.align-items-end { align-items: end; }

.align-self-center { align-self: center; }
.align-self-start { align-self: start; }
.align-self-end { align-self: end; }

.text-center { text-align: center;}
.text-start { text-align: start;}
.text-end { text-align: end;}

/* #endregion JUSTIFY & ALIGN */

#hero { width: 100vw; height: 100vh; opacity: 0; transition: opacity 2s ease-in-out; }
#hero.fade_in { opacity: 1; }

#hero > img { margin: auto; transform: translate(5%, 0); }

.img_rotate_right, .img_rotate_left {
  animation: rotate 2.5s ease-in-out forwards;
}
@keyframes rotate {
  from { transform: rotate(0deg) translate(0) rotate(0); }
  to { transform: rotate(1170deg) translate(0) rotate(-3690deg); }
}

.img_left_right, .img_right_left {
  animation: left_right 2.5s cubic-bezier(0.77,-0.16, 0.5, 1.25) forwards;
}
@keyframes left_right {
  from { transform: translateX(-65vw) rotate(0); }
  to { transform: translate(0) rotate(360deg); }
}
@media (max-width: 768px) {
  @keyframes rotate {
    from { transform: rotate(0deg) translate(0) rotate(0); }
    to { transform: rotate(1170deg) translate(0) rotate(-3690deg); }
  }
}

#span_icon {
   position: fixed;
   top: 25px;
   opacity: .6;
   transition: all 0.6s ease-in-out;
   z-index: 999;
   background-color: transparent;
}
#span_icon:hover {
   opacity: 1;
   cursor: pointer;
}
#span_icon img {
   transform:  translate(50%, 0);
   border-radius: 0;
   object-fit: contain;
   width: 75px;
}
@media screen and (max-width: 1024) {
   #span_icon img {width: 50px;}
}
@media screen and (max-width: 768px) {
   #span_icon img {width: 45px;}
}

.box{
   border-radius: 5px;
   height: 40px !important;
   width: 40px !important;
   padding: 7px;
   margin: 0 0.5em;
   transition: all 0.3s ease-in-out;
   text-align: center;
}
.box:hover {
   filter: opacity(.8);
   transform: scale(1.05);
   cursor: pointer;
}
.box_facebook{
   padding-inline: 12px;
   background-color: #1877F2; /*#3b5998;*/
}
.box_linkedin{
   background-color: #0077b5;
}

.box_twitter{
   background-color: #1da1f2;
}

.box_instagram{
   background-color: #262626;
}

#section_into_soil {
   height: 200vh;
   background-image: url("../assets/arrow-head.png");
   background-position: top;
   background-repeat: no-repeat;
   background-size: contain;
   font-family: 'Bebas Neue', cursive;
   font-size: 7vw;
   line-height: 8vw;
}
@media screen and (max-width: 2560px) {
}
@media screen and (max-width: 1024px) {
   #section_into_soil { height: 165vh; }
}
@media screen and (max-width: 768px) {
   #section_into_soil { height: 125vh; }
}
@media screen and (max-width: 425px) {
   #section_into_soil { height: 115vh; }
}
@media screen and (max-width: 375px) {
   #section_into_soil { height: 80vh; }
}
@media screen and (max-width: 320px) {
   #section_into_soil { height: 70vh; }
}

.div_section_into_soil {
   justify-self: center;
   height: 100%;
   justify-content: space-between;
}
.arrows {
   margin-top: 8%;
   height: 100%;
   width: 50vw;
   background-image: url("../assets/arrow-blue.png");
   background-position: bottom;
   background-repeat: repeat-y;
   background-size: 30%;
}
@media screen and (max-width: 1440px) {
   .arrows {
      margin-top: 3.5%;
   }
}
@media screen and (max-width: 1024px) {
   .arrows {
      margin-top: 4%;
   }
}
@media screen and (max-width: 855px) {
   .arrows {
      margin-top: 7.5%;
   }
}
@media screen and (max-width: 768px) {
   .arrows {
      margin-top: 12.3%;
   }
}
@media screen and (max-width: 415px) {
   .arrows {
      margin-top: 14.5%;
   }
}
.bg-arrow {
   height: 1.25em;
   width: 100vw;
   background-image: url("../assets/bg-arrow.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 30%;
}
.section_parallax {
   overflow: visible !important;
}
.bg_parallax {
   background: fixed no-repeat 50% 50%;
   background-size: cover;
}
@media screen and (max-width: 768px) {
   .bg_parallax {
      background: fixed no-repeat 50% 50%;
      background-size: cover;
   }
}

:root {
   --url--hamburger--1: url('../assets/hamburgers/Hamburger-part-1-dark-lg.webp');
   --url--hamburger--2: url('../assets/hamburgers/Hamburger-part-2-lg.webp');
   --url--hamburger--3: url('../assets/hamburgers/Hamburger-part-3-dark-lg.webp');
   --url--hamburger--4: url('../assets/hamburgers/Hamburger-part-4-lg.webp');
   --url--hamburger--5: url('../assets/hamburgers/Hamburger-part-5-dark-lg.webp');
   --url--hamburger--6: url('../assets/hamburgers/Hamburger-part-6-md.webp');
}
#section_paralax_1 {background-image: var(--url--hamburger--1);}
#section_paralax_2 {background-image: var(--url--hamburger--2);}
#section_paralax_3 {background-image: var(--url--hamburger--3);}
#section_paralax_4 {background-image: var(--url--hamburger--4);}
#section_paralax_5 {background-image: var(--url--hamburger--5);}
#section_paralax_6 {background-image: var(--url--hamburger--6);}
@media screen and (max-width: 768px) {
   :root {
      --url--hamburger--1: url('../assets/hamburgers/Hamburger-part-1-dark-md.webp');
      --url--hamburger--2: url('../assets/hamburgers/Hamburger-part-2-md.webp');
      --url--hamburger--3: url('../assets/hamburgers/Hamburger-part-3-dark-md.webp');
      --url--hamburger--4: url('../assets/hamburgers/Hamburger-part-4-md.webp');
      --url--hamburger--5: url('../assets/hamburgers/Hamburger-part-5-dark-md.webp');
      --url--hamburger--6: url('../assets/hamburgers/Hamburger-part-6-md.webp');
   }
}
@media screen and (max-width: 380px) {
   :root {
      --url--hamburger--1: url('../assets/hamburgers/Hamburger-part-1-dark-sm.webp');
      --url--hamburger--2: url('../assets/hamburgers/Hamburger-part-2-sm.webp');
      --url--hamburger--3: url('../assets/hamburgers/Hamburger-part-3-dark-sm.webp');
      --url--hamburger--4: url('../assets/hamburgers/Hamburger-part-4-sm.webp');
      --url--hamburger--5: url('../assets/hamburgers/Hamburger-part-5-dark-sm.webp');
      --url--hamburger--6: url('../assets/hamburgers/Hamburger-part-6-sm.webp');
   }
}
:root {
   --top--parallax: 15vh;
   --height--parallax: 95vh;
}
.element_parallax {
   position: sticky;
   top: 0;
   background-color: var(--color--bg--blue);
   height: var(--height--parallax);
   justify-content: center
}
@media screen and (max-width: 768px ) {
   :root { --top--parallax: 10vh; --height--parallax: 100vh; }
}
@media screen and (max-width: 376px ) {
   :root { --top--parallax: 10vh; --height--parallax: 90vh; }
}
footer {
   align-items: flex-end;
}
footer span {
   right: 10px;
}