@import url('./root.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables globales */
:root {
    --text--size: 18px;

    /* Colores */
    --color--primary: #99D9D9;
    --color--secondary: #68A2B9;
    --color--light: #F2F0E9;
    --color--dark: #231F20;
    --color--bluegreen: #5BB0BC;
    --color--brown: #736C52;
    --color--bg--dark: #001628;
    --color--green: #219F94;
    --color--red: #EB5353;
    --color--dark--transparent: #001628ea;
    --color--bg--blue: #59A9B5;
    --color--bg--brown: #6E6C4F;
    --color--scroll: #68A2B9;
    --color--bg--scroll: #343A40;

    /* Breakpoints */
    --screen--max--size--x-small: 576px;
    --screen--max--size--small: 767px;
    --screen--max--size--medium: 991px;
    --screen--max--size--large: 1199px;
    --screen--max--size--x-large: 1399px;

    /* Tipografía */
    font-family: 'Roboto', sans-serif;
    font-size: var(--text--size);
    line-height: 1.5rem;
    color: var(--color--dark);

    /* Configuración adicional */
    --porcent--change--color: 5%;
}
/* -------------------------------- SCROLLBAR -------------------------------- */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color--scroll) var(--color--bg--scroll);
}

/* Chrome, Edge, y Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--color--bg--scroll);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color--scroll);
    border-radius: 15px;
}

/* Clases utilitarias */
.scroll-y-none {
    overflow-y: hidden;
}

/* Enlaces */
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover {
    opacity: 0.5;
}

/* -------------------------------- BACKGROUNDS -------------------------------- */
.bg-dark {
    background-color: var(--color--bg--dark);
    color: var(--color--primary);
}

.bg-light {
    background-color: var(--color--primary);
    color: var(--color--bg--dark);
}

.bg-blue {
    background-color: var(--color--bg--blue);
    color: var(--color--bg--dark);
}

.bg-brown {
    background-color: var(--color--bg--brown);
    color: var(--color--light);
}

.bg-blue-brown {
    background: linear-gradient(0deg,
        rgba(110, 108, 79, 1) 0%,
        rgba(110, 108, 79, 1) var(--porcent--change--color),
        rgba(89, 169, 181, 1) var(--porcent--change--color),
        rgba(89, 169, 181, 1) 100%);
}

.bg-green {
    background-color: transparent;
}

/* -------------------------------- MEDIA QUERIES -------------------------------- */
@media screen and (min-width: 1440px),
screen and (max-width: 1440px) {
    :root {
        --porcent--change--color: 90%;
    }
}

@media screen and (max-width: 940px) {
    :root {
        --porcent--change--color: 95%;
    }
}

@media screen and (max-width: 620px),
screen and (max-width: 320px) {
    :root {
        --porcent--change--color: 98%;
    }
}
/* #region IMAGES */

/* Contenedores de imágenes */
.img-container, .img-container-15, .img-container-25, .img-container-35 {
   margin: 2.5rem;
}

.img-container {
   height: 10rem;
   width: 10rem;
}

.img-container-15 {
   height: 15rem;
   width: 15rem;
}

@media screen and (max-width: 376px) {
   .img-container-15, .img-container-25, .img-container-35 {
       margin: 0.5rem;
   }

   .img-container-15 {
       height: 10rem;
       width: 10rem;
   }

   .img-container-25 {
       height: 12rem;
       width: 12rem;
   }

   .img-container-35 {
       height: 15rem;
       width: 15rem;
   }
}

.img-container-25 {
   height: 25rem;
   width: 25rem;
}

@media screen and (max-width: 800px) {
   .img-container-25 {
       margin: 1.5rem;
       height: 15rem;
       width: 15rem;
   }
}

.img-container-35 {
   height: 35rem;
   width: 35rem;
}

@media screen and (max-width: 768px) {
   .img-container-35 {
       margin: 1.5rem;
       height: 30rem;
       width: 30rem;
   }
}

@media screen and (max-width: 580px) {
   .img-container-35 {
       margin: 0.5rem;
       height: 20rem;
       width: 20rem;
   }
}

/* Imágenes */
img {
   object-fit: cover;
   border-radius: 10px;
}

.img-responsive {
   height: 100%;
   width: 100%;
}

/* Tamaños de imágenes */
.img-icon { width: 2.5rem; }
.img-sm { width: 5rem; }
.img-md { width: 15rem; }
.img-hero { width: 17rem; }

@media screen and (max-width: 768px) {
   .img-hero { width: 12rem; }
}

.img-lg { width: 20rem; }
.img-xl { width: 25rem; }
.img-xxl { width: 30rem; }

/* Imágenes con porcentaje de ancho */
.img-1 { width: 5%; }
.img-2 { width: 10%; }
.img-3 { width: 15%; }
.img-4 { width: 20%; }
.img-5 { width: 25%; }

@media screen and (max-width: 768px) {
   .img-5 { width: 50%; }
}

.img-75 { width: 75%; }
.img-100 { width: 100%; }

/* Bordes */
.border-circle {
   border-radius: 100%;
   overflow: hidden;
}

.border { border: 2px solid; }
.border-md { border: 5px solid; }
.border-lg { border: 7px solid; }
.border-xl { border: 10px solid; }

/* #endregion IMAGES */
/* Video */
.video-container {
   margin: 2.5rem;
   height: 100%;
   width: 80%;
}

@media screen and (max-width: 768px) {
   .video-container {
       width: 100%;
   }
}

video {
   object-fit: cover;
   border-radius: 10px;
}

/* Asegura que los medios se adapten */
img, video, object, embed {
   max-width: 100%;
   height: auto;
}

/* #region NAVBAR */
nav {
   position: fixed;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   z-index: 100;
   transition: all 0.6s ease;
}

.navbar {
   display: flex;
   padding-block: 2%;
   padding-inline: 5%;
}

.navbar-light {
   background-color: var(--color--light--transparent);
   color: var(--color--dark) !important;
}

.navbar-light:hover {
   background-color: var(--color--light);
}

.navbar-dark {
   background-color: var(--color--dark--transparent);
   color: var(--color--light) !important;
}

.navbar-dark:hover {
   background-color: var(--color--bg--dark);
}

.navbar ul {
   list-style: none;
   display: flex;
   flex-direction: row;
}

.navbar li {
   margin-right: 1rem;
   transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   border-bottom: solid 3px var(--color--dark--transparent);
}

.navbar li:hover {
   cursor: pointer;
   border-bottom: solid 3px;
}
/* #endregion NAVBAR */
/* #region BLABLABLA */
section, .section {
   padding: 5%;
   scroll-snap-type: y mandatory;
   scroll-snap-align: start;
   height: 100vh;
}

section.bg-dark, .section.bg-dark {
   background-color: #1F191A;
   color: var(--color-primary);
}

section.bg-light, .section.bg-light {
   background-color: transparent;
   color: var(--color--bg--dark);
}

hr.separator, hr.separator-sm {
   background-color: var(--color--light);
   border: none;
   position: relative;
   z-index: 1;
   left: 50%;
   transform: translate(-50%, 0);
   height: 8rem;
   width: 2px;
}

hr.separator-sm { height: 3rem; }

.container-grid, .container-grid-rows {
   display: grid;
   grid-gap: 1rem;
   justify-content: center;
   align-items: center;
   margin: auto;
   padding: 1rem 0;
   justify-items: center;
}

.container-grid {
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.container-grid-rows {
   grid-template-rows: repeat(auto-fit, minmax(1fr));
}

.container-grid.grid-p-0, .container-grid-rows.grid-p-0 { 
   grid-gap: 0; 
   padding: 0; 
}

.container-grid.grid-p-1, .container-grid-rows.grid-p-1 {
   grid-gap: 1rem;
   padding: 1rem;
}

.card {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 15rem;
   height: 15rem;
   background: #fff;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   border-radius: 10px;
   overflow: hidden;
   transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover { transform: scale(1.05); }

.card--avatar { width: 100%; height: 10rem; object-fit: cover; }

.card--title {
   color: #222;
   font-weight: 700;
   font-size: 1.1rem;
   margin-top: 0.5rem;
}

.card--link {
   text-decoration: none;
   background: #db4938;
   color: #fff;
   padding: 0.3rem 1rem;
   border-radius: 20px;
   cursor: pointer;
   transition: background-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card--link:hover { background-color: #343A40; }

:root {
   --font--size--title: 5vw;
   --line--height--title: 5vw;
   --font--size--subtitle: 3vw;
   --line--height--subtitle: 3vw;
   --font--size--p: 1.75vw;
   --line--height--p: 2.25vw;
}

.title, .subtitle, p {
   margin-block: 1rem;
}

.title { 
   font-size: var(--font--size--title);
   line-height: var(--line--height--title);
   font-weight: bolder;
}

.subtitle { 
   font-size: var(--font--size--subtitle);
   line-height: var(--line--height--subtitle);
   font-weight: normal;
}

p {
   font-size: var(--font--size--p);
   line-height: var(--line--height--p);
   padding-top: 1rem;
   padding-bottom: 2rem;
   width: 50%;
}

@media screen and (max-width: 1024px) {
   :root { 
      --font--size--title: 6vw; 
      --line--height--title: 8vw; 
      --font--size--subtitle: 4vw;
      --line--height--subtitle: 4vw;
      --font--size--p: 2vw;
      --line--height--p: 3vw;
   }
   p { width: 75%; }
}

@media screen and (max-width: 768px) {
   :root { 
      --font--size--title: 7vw; 
      --line--height--title: 7vw; 
      --font--size--subtitle: 5vw;
      --line--height--subtitle: 5vw;
      --font--size--p: 2.5vw;
   }
   p { width: 80%; }
}

@media screen and (max-width: 376px) {
   :root { 
      --font--size--title: 10vw; 
      --line--height--title: 10vw; 
      --font--size--subtitle: 6vw;
      --line--height--subtitle: 6vw;
      --font--size--p: 3.5vw;
      --line--height--p: 4.5vw;
   }
   p { width: 100%; }
}

.box { 
   border-radius: 5px; 
   height: 40px !important;
   width: 40px !important;
   padding: 7px;
   margin: 0 0.5em;
   transition: transform 0.3s ease-in-out;
   text-align: center;
}

.box:hover { 
   filter: opacity(.8);
   transform: scale(1.05);
   cursor: pointer;
}

.box_facebook { background-color: #1877F2; }
.box_linkedin { background-color: #0077b5; }
.box_twitter { background-color: #1da1f2; }

#span_icon {
   position: fixed;
   top: 25px;
   opacity: .6;
   transition: opacity 0.6s ease-in-out;
   z-index: 999;
   background-color: transparent;
}

#span_icon:hover {
   opacity: 1;
   cursor: pointer;
}

#span_icon img {
   transform: translate(50%, 0);
   width: 75px;
   border-radius: 0;
   object-fit: contain;
}

@media screen and (max-width: 1024px) { 
   #span_icon img { width: 50px; }
}

@media screen and (max-width: 768px) { 
   #span_icon img { width: 45px; }
}

@keyframes logo {
   0% { opacity: 0; transform: scale(0); }
   15% { opacity: .30; transform: scale(1); }
   30% { opacity: .25; transform: scale(.9); }
   100% { opacity: 0; display: none; }
}

#logo_intro {
   animation: logo 3s ease-in-out forwards;
}

#hero {
   width: 100vw;
   height: 100vh;
   opacity: 0;
   transition: opacity 2s ease-in-out;
}

#hero.fade_in { opacity: 1; }
